h1{
	color: red;
	text-align: center;
	border-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: red;
}
h2{
	color:blue;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-color: blue;
}

#left{
	margin: 0px;
	padding: 0px;
	width: 74.5%;
}
p{
	margin: 0px;
	padding: 0px;
	margin-left:25px;
}
#right p{
	margin: 0px;
}
#right{
	margin: 0px;
	padding: 0px;
	width: 25%;
	float: right;
	border: 2px solid blue;
}